* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4e3d7;
    color: #3d2c1c;
}

nav {
    position: fixed;
    width: 100%;
    background: #b38867;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

nav .logo {
    font-weight: bold;
    font-size: 1.2rem;
}

nav a {
    color: #f4e3d7;
    margin-left: 1rem;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #f4e3d7;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-link {
    display: flex;
}

section {
    min-height: 100vh;
    padding: 100px 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero {
    min-height: 100vh;
    background: linear-gradient(to right, #f4e3d7, #dab49d);
}

.hero h1 {
    font-size: 2.8rem;
}

.hero h2 {
    font-weight: normal;
    color: #5b3a29;    
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;;
    margin: 1rem 0 2rem;
}

.hero-button {
    display: flex;
    flex-direction: column;
}

.highlight {
    color: #c69c6d;
}

.btn-utama {
    padding: 0.7rem 1.5rem;
    background-color: #c69c6d;
    color: #000;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-utama:hover {
    background-color: #9c7248;
}

.scroll-down {
    margin: 2rem 1rem;
    font-family: cursive;
    font-size: 1rem;
    color: #a67c52;
    text-decoration: none;
    animation: bounce 2s infinite;
}

#projects {
    animation: fadeIn 1.2s ease-in-out;
}

.projects-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects-card {
    width: 40vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e3c9a9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);;
    padding: 1rem;
    margin: 0 20px ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);;
}

.projects-card h3 {
    margin-bottom: 0.5rem;
}

.hero-content .nama {
    color: #c69c6d
}

#about{
    text-align: center;
    animation: fadeIn 1.2s ease-in-out;
}

#about p {
    color: #3d2c1c;
}

#contact {
    text-align: center;
    animation: fadeIn 1.2s ease-in-out;
}

footer {
    background-color: #b38867;
    color: #f4e3d7;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.9rem;
}

footer .social-links {
    margin-top: 0.5rem;
}

footer a {
    color: #f4e3d7;
    text-decoration: none;
    margin: 0 0.3rem;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    
    .nav-link {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #b38867;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
    }

    .nav-link.show {
        display: flex;
    }

    .projects-grid {
        flex-direction: column;
    }

    .projects-card {
        margin: 1rem 0;
    }
}

.skills li {
    list-style: none;
    margin-left: -40px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}